<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GREEN HEALTHCARE|Appointment Details </title>
    <link rel="stylesheet" href="../static/css/Style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/491ca79f60.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="header">
        <nav>
            <a href="{{ url_for ('index')}}"><img class="section-logo" src="../static/Images/LOGO.jpeg" alt=""></a>
            <div class="nav-links" id="navLinks">
                <i class="fas fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{{ url_for ('index')}}">HOME</a></li>
                    <li><a href="{{ url_for ('appointment')}}">APPOINTMENT</a></li>
                    <li><a href="{{ url_for ('documents')}}">APPOINTMENT DETAILS</a></li>
                    
                </ul>
                
            </div>
            <i class="fas fa-bars fa-lg" onclick="showMenu()"></i>

        </nav>

        <div class="text-box">
            <h1>Appointment Details</h1>
            <p> Welcome Click Below to Check, Update or Delete your Appointment</p>
        <div class="Appointment-details-btn">
        <a href="{{ url_for ('healthAppointmentdetails')}}" class="Appointment-details-Checkup">Health CheckUp <br>Appointment Details</a>
        <a href="{{ url_for ('bloodAppointmentdetails')}}" class="Appointment-details-bloodtest">BloodTest <br>Details</a>
        </div>
    </div>


    </section> 
    
</body>
</html>